#back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 16px;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}